<div class="bg-primary">
  <div class="container-fluid vh-0 p-3" style="background-color: #74896D; height: 520px; color: white; ">
    <h1 class="pt-3">Ready for pickup!</h1>
    <h3><%= @pickup.item.title %></h3>
      <div class="pt-4">
        <p><i class="fas fa-map-marker-alt"></i> <%= @pickup.item.user.address %></p>
      </div>
        <div class="text-center pt-4">
          <p>
              <i class="fas fa-calendar-alt"></i>
              <%= @pickup.arrive_at.to_time.strftime('%B %e at %l:%M') %>
              <%= @pickup.arrive_at.to_time.strftime('%p').downcase %>
            </p>
          <div>
            <%= link_to "Open in Google Map", map_external_link(@pickup.item), class: "btn px-3 btn-outline-primary bg-white dp-8" %>
          </div>
        </div>
      <div>
        <img src="<%= asset_path('Icons-2.gif') %>" class="d-block w-100" alt="...">
      </div>
  </div>
</div>
