 <div class="home-banner pb-5 bg-basket-image">
      <div class="card-body pt-5">
        <div class="text-center show-card" style="background: rgba(255,255,255,0.9)">
        <div> <%= cl_image_tag @pickup.item.photo.key, height: 300, width: 350, crop: :fill %>
    <p><%= @pickup.item.title %> </p> </div>
    <p><i class="fas fa-calendar-alt"></i> <%= @pickup.arrive_at.to_time.strftime('%B %e at %l:%M %p') %></p>
    <p><i class="fas fa-map-marker-alt"></i><%= @pickup.item.user.address %></p>
    <%= link_to "My Dashboard", dashboard_path %>
        </div>
      </div>
  </div>
</div>
