<%= link_to notification.path, class: "static-notification text-decoration-none" do %>
  <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <div class="pe-2">
        <%= cl_image_tag notification.image_key, height: 20, width: 20, crop: :fill %>
      </div>
      <strong class="me-auto"><%= notification.title %></strong>
      <small><%= notification.extra_info %></small>
    </div>
    <div class="toast-body text-dark">
      <%= notification.text %>
    </div>
  </div>
<% end %>
