 <div class="card-body p-2">
 <div class="show-card p-3" style="background: rgba(255,255,255,0.9)">
 <%= simple_form_for(@user) do |f| %>
    <%= f.input :photo, as: :file, :label => "Change your photo" %>
      <%= f.input :email %>
      <div class="row">
        <div class="col">
          <%= f.input :first_name %>
        </div>
        <div class="col">
          <%= f.input :last_name %>
        </div>
      </div>
      <%= f.input :address %>
      <%= f.input :phone_number %>
      <%= f.button :submit, class: "btn btn-primary text-white" unless disabled %>
    </fieldset>
    <% end %>
    </div>
     </div>
