<div class="mobile-menu">
  <div class="icons">
    <%= link_to root_path, class: "d-block" do %>
       <%= image_tag "Home-new.png", width: 50, height: 50 %>
    <% end %>
    <p class="small mb-0">Home</p>
  </div>

  <div class="icons">
    <%= link_to dashboard_path class: "d-block" do %>
      <%= image_tag "Dashboard-new.png", width: 50, height: 50 %>
    <% end %>
    <p class="small mb-0">Dashboard</p>
  </div>

  <div class="icons dropup">
    <%= link_to "#", "data-bs-toggle": "dropdown", "aria-expanded": false do %>
      <%= image_tag "Notifications-new.png", width: 50, height: 50 %>
    <% end %>
    <%= render "shared/notification_box" %>

     <p class="small mb-0">Notification</p>
  </div>

  <div class="icons">
    <%= link_to user_path(current_user) do %>
      <%= image_tag "Profile-new.png", width: 50, height: 50 %>
    <% end %>
    <p class="small mb-0">Profile</p>
  </div>
</div>
