<div class="testk container-fluid py-5 d-flex flex-column justify-content-end dp-20" style="background-image: url(<%= asset_path('banner.jpg') %>); background-size: cover; height: calc(100vh - 58px); background-attachment: fixed;">
  <div></div>

  <h1 id="Fresh">Fresh</h1>
  <h1 id="Collect">Collect</h1>
  <p id="text-subheader">Join our community<br>and reduce food waste today</p>

  <div class="text-center p-5">
    <p>
      <%= link_to "Share", new_item_path, class:"btn mx-4 d-block btn-primary text-white dp-8" %>
    </p>
    <p>
      <%= link_to "Browse", items_path, class:"btn mx-4 d-block btn-outline-primary bg-white dp-8" %>
    </p>
  </div>
  <div class="pt-5 text-center">
    <i class="fas fa-chevron-down text-primary fa-3x"></i>
  </div>
</div>

<div class="testk bg-primary">
  <div class="container vh-0 py-4 dp-8" style="background-color: #E08E44; color: white; ">
    <h1 id="Welcome-title">Welcome to FreshCollect</h1>
    <p class="mb-0" id="Welcome-text">We help you share your leftover groceries with neighbors to minimize food waste.</p>
  </div>
</div>


<div style="testk height: 35vh; background-image: url(<%= image_path 'Iphone_Home_FC_new.png' %>); background-size: cover; background-position: bottom;">
</div>

<div class="testk container-about">
  <div id="carouselExampleCaptions" class="carousel slide" style="background: #74896D" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="<%= asset_path('Icons-1.gif') %>" class="d-block w-100" alt="...">
        <div class="px-5 text-white mb-5" style="margin-top: -42px; min-height: 248px">
          <h2>Have groceries at home you won't get to?</h2>
          <p>With FreshCollect you can arrange for a neighbor to pick them up instead of throwing them out!</p>
          <%= link_to "Share", new_item_path, class:"btn d-block btn-outline-primary bg-white dp-8" %>
        </div>
      </div>

      <div class="carousel-item">
      <img src="<%= asset_path('Icons-2.gif') %>" class="d-block w-100" alt="...">
        <div class="px-5 text-white mb-5" style="margin-top: -42px; min-height: 248px">
          <h2>How it works</h2>
          <p>Once you've shared your listing, FreshCollect neighbors are notified and can schedule a pickup. From there, meeting up is easy and convenient.</p>
          <%= link_to "Share", new_item_path, class:"btn d-block btn-outline-primary bg-white dp-8" %>
        </div>
      </div>

      <div class="carousel-item">
        <img src="<%= asset_path('Icon-3.gif') %>" class="d-block w-100" alt="...">
        <div class="px-5 text-white mb-5" style="margin-top: -42px; min-height: 248px">
          <h2>Get notified</h2>
          <p>Explore listings for pickup, and get notified when neighbors share their groceries. Reducing food waste should feel good — and taste good!</p>
          <%= link_to "Browse", items_path, class:"btn d-block btn-outline-primary bg-white dp-8" %>
        </div>
      </div>


      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
