<div class="card-body">

  <h1>It's almost shared!</h1>
  <br>
  <%= cl_image_tag @item.photo_or_default, height: 100, width: 180, crop: :fill %>
  <br>
  <b>Title</b> <%= @item.title %>
  <br>
  <b>Description</b> <%= @item.description %>
  <br>
  <b>Latest pickup</b> <%= @item.end_pickup_at %>
  <br>
  <%= link_to "Edit", edit_item_path if @item.user == current_user %> <%= link_to "Delete", item_path(@item), method: :delete, data: { confirm: "Are you sure?" } if @item.user == current_user %>
  <br>
  <br>
  <b>Book the item</b> <%= render "pickups/form", item: @item, pickup: @pickup %>
  <br>


</div>
