<div class="home-banner pb-5" style="background-color: #74896D;">
  <div class="text-center pt-3">
    <h1>Now available in your neighbourhood!</h1>
  </div>
  <div class="card-body p-2">
    <div class="text-center show-card p-3 m-1" style="background: rgba(255,255,255,0.8)">
        <h3><%= @item.title %></h3>
        <div class="m-2">
        <%= cl_image_tag @item.photo_or_default, height: 150, width: 220, crop: :fill %>
        </div>
        <h6> <%= @item.description %></h6>
        <h6><i class="fas fa-calendar-alt"></i> Latest pickup on <%= @item.end_pickup_at.to_time.strftime('%B %e at %l:%M %p') %></h6>
        <%= link_to "Edit", edit_item_path if @item.user == current_user %> <%= link_to "Delete", item_path(@item), method: :delete, data: { confirm: "Are you sure?" } if @item.user == current_user %>
         </div>
      </div>
      <div class="p-3 mb-2" style="background: #E08E44">
        <h3><b>Get the groceries!</b></h3>
        <%= render "pickups/form", item: @item, pickup: @pickup %>
      </div>
        <div class="m-1" style="width: 100%; height: 300px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
</div>
