<% if params[:confetti] %>
  <canvas
    class="vh-100 position-fixed w-100"
    data-controller="confetti"
    data-action="click->confetti#hide"
  ></canvas>
<% end %>

<div class="container my-5">
  <h1 class="pb-2">My Dashboard</h1>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-listing-tab" data-bs-toggle="tab"
      data-bs-target="#nav-listing" type="button" role="tab" aria-controls="nav-listing" aria-selected="true">
      Listings</button>
      <button class="nav-link" id="nav-pickup-tab" data-bs-toggle="tab"
      data-bs-target="#nav-pickup" type="button" role="tab" aria-controls="nav-pickup" aria-selected="true">
      Pickups</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tab-content">
    <div class="tab-pane fade show active" id="nav-listing" role="tabpanel" aria-labelledby="nav-listing-tab">
      <%= render collection: @dashboard.sharer_items.pending, partial: "dashboards/pending_item" %>
      <%= render collection: @dashboard.sharer_items.available, partial: "dashboards/available_item" %>
      <%= render collection: @dashboard.sharer_items.completed, partial: "dashboards/completed_item" %>
    </div>
    <div class="tab-pane fade p-3" id="nav-pickup" role="tabpanel" aria-labelledby="nav-pickup-tab">
      <% @dashboard.collector_pickups.each do |pickup| %>
        <div class="card p-3">
          <div class="row g-0">
            <div class="col-3">
              <%= cl_image_tag pickup.item.photo_or_default, height: 100, width: 50, crop: :fill %>
            </div>
            <div class="col-9 p-3 d-flex flex-column justify-content-between">
              <%= pickup.item.title %><br>
              <%= pickup.status %>
              <% if pickup.status == "Pending" %>
                (pickup from <%= pickup.item.user.first_name %>)
              <% end %>
              <%= link_to "See details", pickup_path(pickup) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
