<!DOCTYPE html>
<html>
  <head>
    <title>FreshCollect - join our community and help us reduce food waste today!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body class="main">
    <%= render 'shared/navbar' unless current_user.present? || devise_controller? %>
    <%= render 'shared/flashes' %>
    <%#= render "notifications/popup_notification",
      notification: Notification.where(type: "PickupNotification").last.to_notification %>

    <div class="flex-grow-1">
      <%= yield %>
    </div>
    <%= render 'shared/footer' if current_page?(root_path) %>
    <%= render "shared/mobile_menu" if current_user.present? %>
  </body>
</html>
